body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow-x:hidden;
    overflow-y:hidden;
}

header{
    height: 4.375rem;
    background-color: #f8f9fa; 
}

header i{
    margin: 0 5px;
}

header a{
    color: black;
}

main{
    height: calc(100% - 4.375rem);
}

aside{
    height: 100%;
    width: auto;
    padding: 10px;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

aside i{
    color: white;
}

#main-top{
    background-color: #1b72e8;
}

#main-top a{
    color: white;
}

a{
    text-decoration: none;
}


#main-box{
    overflow-y: auto;
    height: 100%;
}

.ms-btn-color{
    background-color: #165bba;
}

.ms-plus-sign{
    width: 1.875rem;
    height: 1.875rem;
    line-height: 1.875rem;
    border: 1px solid white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 1.875rem;
}

#ms-class-img{
    max-width: 30px;
}

#offcanvasExample{
    width: 100%;
}

@media screen and (min-width: 1200px) {
    #offcanvasExample{
        width: 800px;
    }
}