body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

header{
    height: 4.375rem;
    background-color: #f8f9fa; 
}

header i{
    margin: 0 5px;
}

main{
    height: calc(100% - 4.375rem);
}

aside{
    height: 100%;
    width: auto;
    padding: 10px;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

aside i{
    color: white;
}

#main-top{
    background-color: #1b72e8;
}

a{
    text-decoration: none;
}

#main-box{
    overflow-y: auto;
    height: 100%;
}
